body{
text-align: center;
}

#roll img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

hr{
    height: 2px;
}

#logo{
    width: 400px;
}

#roll.div:hover{
    background-color: yellow;
}