body{
text-align: center;
}
#products a.active{
    background-color: yellow;
}
#cart a.active{
    background-color: yellow;
}

#roll img{
    width: 400px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

hr{
    height: 2px;
}

#logo{
    width: 400px;
}

#roll.div:hover{
    background-color: yellow;
}


.dropdown{
    
}
