a {
    text-decoration: none;
}

body{
text-align: center;
}
#products a.active{
    background-color: yellow;
}
#cart a.active{
    background-color: yellow;
}

#roll img{
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#roll2 img{
    width: 200px;
    height: 200px;
}

hr{
    height: 2px;
}

#logo{
    width: 400px;
}
.all{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

#roll1 img{
    width: 400px;
    height: 400px;
}


#roll1:hover{
    background-color: yellow;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container{
    justify-content: center;
    display: flex;
    background-color: white;
  }


