a {
    text-decoration: none;
    color: black;
}

body{
text-align: center;
}



a:hover{
    background-color: yellow;
}
a:active{
    background-color: yellow;
}

#roll img{
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#roll2 img{
    width: 200px;
    height: 200px;
}

#logo{
    width: 400px;
}
 
#descr{
    text-align: left;
}

#remove{
    text-decoration: underline;
}

#roll1 img{
    width: 400px;
    height: 400px;
}

#roll1:hover{
    background-color: yellow;
    font-weight: bold;
}

hr.line1{
    border-top: 3px solid black;
}

hr.line2{
    border-top: 3px solid black;
    width: 800px;

}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container{
    justify-content: center;
    display: flex;
    background-color: white;
  }


  .button{
    background-color: yellow;
    padding: 10px 25px;
    font-weight: bold;
  }

  .flex-container > div{
    font-size: 20px;
  }

  .all{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

